.table {
    @include clearfix; 

    [class^="column"] {
        float: left;
        &:not(:last-child) {
            @include respond(tab-port) { 
                margin-bottom: $gutter-vertical-small;
            } 
        }

        @include respond(tab-port) { 
            width: 100% !important;
        } 
    }

    .column {
        width: calc((100% ) / 2);
    }

    &__text {
        position: relative;   
        height: 100vh;
    }

    &__box {
        position: absolute;
        text-align: justify;
        top: 50%;
        left: 44%;
        margin-left: 1rem;
        transform: translate(-50%, -50%);      
        width: 75%;  
        padding: 1rem;
    }
}

